<h2>Select a user to display the users address(es) on file.</h2>

<form ng-submit="getUserAddresses()">
    <div>
        <label>User:
            <select ng-model="allUsers.id"
                    ng-options="obj.id as obj.name for obj in allUsers">
            </select>
            <input type="submit" id="submit" value="Submit" />
        </label>
    </div>
    <!--<div>-->
        <!--<ul>-->
            <!--<li ng-repeat="address in userAddresses">-->
                <!--Name: {{address.name}}</br>-->
                <!--Address: {{address.address_street}}</br>-->
                <!--&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp-->
                <!--{{address.address_city}}, {{address.address_state}} &nbsp {{address.address_zip}}</br>-->
                <!--Address Type: {{address.address_type}}</br>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <div class="well col-md-4" ng-repeat="address in userAddresses">
        <p>
            <span>
                Name: {{address.name}}</br>
                Address Type: {{address.address_type}}</br>
                </br>
                {{address.address_street}}</br>
                {{address.address_city}}, {{address.address_state}} &nbsp {{address.address_zip}}</br>
            </span>
        </p>
    </div>
</form>
