<p>Select user and display address here.</p>

<!--<div>-->
    <!--<button ng-click="getUsers()">Get All Users</button>-->
    <!--<br>-->
<!--</div>-->

<form  ng-submit="getUserAddresses()">
    <div>
        <label>User:
            <select ng-model="allUsers.id"
                    ng-options="obj.id as obj.name for obj in allUsers">
            </select>
            <input type="submit" id="submit" value="Submit" />
        </label>
    </div>
    <div>
        <ul>
            <li ng-repeat="address in userAddresses">
                Name: {{address.name}}</br>
                Address: {{address.address_street}}</br>
                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                {{address.address_city}}, {{address.address_state}} &nbsp {{address.address_zip}}</br>
                Address Type: {{address.address_type}}</br>
            </li>
        </ul>
    </div>
</form>
