<p>Select a user and date range to display order history.</p>

<form ng-submit="getUserOrders()">
    <div>
        <label>User:
            <select ng-model="allUsers.id"
                    ng-options="obj.id as obj.name for obj in allUsers">
            </select>
            <input type="submit" id="submit" value="Submit" />
        </label>
    </div>
    <div>
        <label>Start Date: </label>
        <input type="date" id="minDate" name="minInput" ng-model="minDate.value"
               placeholder="yyyy-MM-dd" required />
        <label>End Date: </label>
        <input type="date" id="maxDate" name="maxInput" ng-model="maxDate.value"
               placeholder="yyyy-MM-dd" required />
        <div role="alert">
            <span class="error" ng-show=""></span>
        </div>
    </div>
    <div>
        <table>
            <tr>
                <th>User</th>
                <th>Shipping Address</th>
                <th>Address Type</th>
                <th>Order No.</th>
                <th>Order Date</th>
                <th>Order Amount</th>
            </tr>
            <tr ng-repeat="order in userOrders">
                <td>{{order.name}}</td>
                <td>{{order.address_street}}</br>
                {{order.address_city}}, {{order.address_state}} &nbsp {{order.address_zip}}</td>
                <td>{{order.address_type}}</td>
                <td>{{order.order_id}}</td>
                <td>{{order.order_date | date: 'MM/dd/yyyy'}}</td>
                <td>{{order.amount | currency}}</td>
            </tr>
        </table>
    </div>
    <div>
        <label>Order(s) Grand Total: {{orderTotal | currency}}</label>
    </div>
</form>
